<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conscious Closet | Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/blog.js"></script>
</head>
<body>
    <div class = "header">
        <div class="logoContainer">
            <img id="logo" src="/images/ConsciousClosetSmallLogo.png" alt="logo"/><h1>Conscious closet</h1>
        </div>
        <nav id = "navbar">
            <a id="home" href="http://localhost/">Home</a>
            <a id="store" href="http://localhost/store">Shop</a>
            <a id="blog" href="http://localhost/blog">Blog</a>
        </nav>
    </div>
    <main>
       
        <div class="card-inventory">
            <div class="container" id="card1">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card2">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card3">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card4">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card5">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card6">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card6">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card7">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card8">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
            <div class="container" id="card9">
                <img class="card-inventory-image" src="/images/blog/flowers.jpg" alt="Avatar"/>
                <h4>Fast Fashion Consumerism</h4> 
                <p class="author">Author: </p> 
                <p class="date"></p> 
            </div>
          </div>
        </div>
       
    </main>
    <footer>
        <p>Conscious Closet &copy; 2024</p>
    </footer>
</body>
</html>