<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conscious Closet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
</head>
<body>
    <header>
        <h1>Conscious closet</h1>
        <nav>
            <a id="home" href="http://localhost/">Home</a>
            <a id="about" href="http://localhost/about">About</a>
            <a id="store" href="http://localhost/store">Store</a>
            <a id="blog" href="http://localhost/blog">Blog</a>
        </nav>
    </header>
    <main>
       BLOG
    </main>
    <footer>

    </footer>
</body>
</html>