<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conscious Closet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js" type="module"></script>
</head>
<body>
    <div class = "header">
        <h1>Conscious closet</h1>
        <nav id = "navbar">
            <a id="home" href="http://localhost/">Home</a>
            <a id="store" href="http://localhost/store">Shop</a>
            <a id="blog" href="http://localhost/blog">Blog</a>
        </nav>
    </div>
    <main>
       <div id = "about">
        <h3>Welcome to Conscious Closet!</h3>
            <p style = "padding-top: 10px; padding-left:150px; padding-right:150px; padding-bottom:10px;text-align: center; line-height: 27px;font-size:15px; font-family:'Poppins';">
                We are a consumer-focused shopping tool designed to steer you clear of fast fashion. At Conscious Closet, we believe that looking good shouldn't come at the expense of the planet. That's why we've created a platform that combines the convenience of online shopping with a commitment to sustainability.
            </p>           
            
       </div>

       <div id="form">
            <input type="text" id="search" placeholder="What are you looking for today?">
            <button id="submit"><i class="fa fa-search"></i></button>
        </div>

       
    </main>
    <footer>
        <p>Conscious Closet &copy; 2024</p>
    </footer>
</body>
</html>