<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conscious Closet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
</head>
<body>
    <div class = "header">
        <h1>Conscious closet</h1>
        <nav id = "navbar">
            <a id="home" href="http://localhost/">Home</a>
            <a id="store" href="http://localhost/store">Shop</a>
            <a id="blog" href="http://localhost/blog">Blog</a>
        </nav>
    </div>
    <main>
       <div id = "about">
        <h3>Welcome to Conscious Closet!</h3>
            <p style = "padding-top: 10px; padding-left:150px; padding-right:150px; padding-bottom:10px;text-align: center; line-height: 27px;font-size:15px; font-family:'Poppins';">
                We are a consumer-focused shopping tool designed to steer you clear of fast fashion. At Conscious Closet, we believe that looking good shouldn't come at the expense of the planet. That's why we've created a platform that combines the convenience of online shopping with a commitment to sustainability.
            </p>           
            
       </div>

       <form>
        <input class = "query" placeholder="What are you looking for today?">
        <button class = "submit"><a class = "uh" href = "http://localhost/store" style = "text-decoration: none;">Go</a></button>
       </form>
    </main>
    <footer>
        <p>Conscious Closet &copy; 2024</p>
    </footer>

    <script>
        window.onscroll = function() {myFunction()};
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }  
    </script>
</body>
</html>