<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conscious Closet | Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
</head>
<body>
    <div class = "header">
        <h1>Conscious closet</h1>
        <nav id = "navbar">
            <a id="home" href="http://localhost/">Home</a>
            <a id="store" href="http://localhost/store">Shop</a>
            <a id="blog" href="http://localhost/blog">Blog</a>
        </nav>
    </div>
    <main>
       

       <form id = "random">
        <input class = "query" placeholder="What are you looking for today?">
        <button class = "submit"><a class = "uh" style = "text-decoration: none;">Go</a></button>
       </form>

       <div class = "parsed-data">
        
       </div>
    </main>
    

    <script>
        window.onscroll = function() {myFunction()};
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }  
    </script>
</body>
</html>