<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conscious Closet | Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/store.js" type="module"></script>
</head>
<body>
    <div class = "header">
        <div class="logoContainer">
            <img id="logo" src="/images/ConsciousClosetSmallLogo.png" alt="logo"/><h1>Conscious closet</h1>
        </div>
        <nav id = "navbar">
            <a id="home" href="http://localhost/">Home</a>
            <a id="store" href="http://localhost/store">Shop</a>
            <a id="blog" href="http://localhost/blog">Blog</a>
        </nav>
    </div>
    <main>
       
        <div id="form">
            <input type="text" id="search" placeholder="What are you looking for today?">
            <button id="submit"><i class="fa fa-search"></i></button>
        </div>


        <div class="inner-window">
            <ul id="myList"></ul>
        </div>

    </main>
    <footer>
        <p>Conscious Closet &copy; 2024</p>
    </footer>
    
</body>
</html>